<header class="header-main">
    <div class="row align-items-center">
        <div class="col-3 col-md-4">
            <a href="https://perasdelolmo.com.ar"><img src="img/iso.svg" class="logo" alt="Ediciones Peras del Olmo"></a> 
        </div>
        <div class="col-9 col-md-8">
           <ul>
               <li>
                   <a href="https://perasdelolmo.com.ar/#libros">Libros</a>
               </li>
               <li>
                   <a href="contacto">Contacto</a>
               </li>
               <li class="social">
                   <a href="https://www.facebook.com/edicionesperasdelolmo" target="_blank"><img src="img/social-fb.svg" alt="Página de Facebook de Peras del Olmo"></a>
               </li>
           </ul>
        </div>
    </div>
</header>